{% extends "base.html" %}

{% block content %}
<div><i>Слова:</i> {{ word_data.word }}</div><br>
<div><i>Прыклад ужывання:</i> {{ word_data.example }}</div><br>
<div><i>Дадатковая інфармацыя:</i> {{ word_data.article }}</div><br>

<br>
{% for syllable in syllable_list %}
    <a href="{% if forloop.counter == work_dict.stress_idx %} /result?id={{ work_dict.id }}&stress={{ work_dict.stress_idx }}{% else %} /result?id={{ work_dict.id }}&stress={{ forloop.counter }} {% endif %}">{{ syllable }}</a>
{% endfor %}

{% endblock %}