<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if status == 'success' %} Вы дадалі слова {% else %}{% endif %}

<form method="post" action="add_word">
    <label>Слова:</label>
    <input type="text" name="word"><br>
    <label>Нумар націснога склада:</label>
    <input type="number" name="stress_idx"><br>
    <label>Прыклад ужывання:</label>
    <input type="text" name="example"><br>
    <label>Карысны артыкул:</label><br>
    <textarea name="article" cols="40" rows="3"></textarea></p>
    <input type="submit">

</form><br>
<a href="/">На галоўную</a>
</body>
</html>