<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Націск</title>
    <link rel="stylesheet" href="static/css/mystyle.css">
</head>

<body>

<header class="header">
    <div class="tab_flex_space_between topnav">
        <a href="/"><p class="logo">Stress<span class="logo_color">This</span></p></a>
        <nav class="tab_flex">
            <a href=""><p class="menu_item">Усе словы</p></a>
            <a href="add_page?r=None"><p class="menu_item">Дадаць слова</p></a>
        </nav>
    </div>
</header>

<div style="padding-left:16px">
{% block content %} {% endblock %}
</div>


</body>
</html>