<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Націск</title>
    <style>
        a {
            color: black;
            cursor: default;
            text-decoration: none;
            font-size: 20px;
        }

        a:hover {
            color: green;
            cursor: default;
            font-size: 150%;
        }
    </style>
</head>

<body>
<div>Выбярыце націсны склад: </div><br>

{% for syllable in syllable_list %}
    <a href="{% if forloop.counter == work_dict.stress_idx %} result?id={{ work_dict.id }}&stress={{ work_dict.stress_idx }}{% else %} result?id={{ work_dict.id }}&stress={{ forloop.counter }} {% endif %}">{{ syllable }}</a>
{% endfor %}

<br>
<a href="add_page?r=None">Дадаць слова ў слоўнік</a>
</body>
</html>